*.swp
*.pyc
*.png
.DS_Store
.ipynb_checkpoints

datafiles

color_color_plots
isochrone_plots
mat_plots
sat_plots

sim_results/RJ/skymaps
sim_results/RJ/*.png
sim_results/RJ/*.gif
sim_results/TL/skymaps
sim_results/TL/*.png
sim_results/TL/*.gif
sim_results_close/RJ/skymaps
sim_results_close/RJ/*.png
sim_results_close/RJ/*.gif
sim_results_close/TL/skymaps
sim_results_close/TL/*.png
sim_results_close/TL/*.gif
